$primary-color: #31c4be;
$secondary-color: #f2b237;
$pangatlong-color: #4f6367;
$primaryBg-color: #799d9f;
$secondaryBg-color: #b8d8d6;

/* //screen breakpoints
$breakpoints-xs: 320px;
$breakpoints-sm: 480px;
$breakpoints-md: 768px;
$breakpoints-lg: 1024px; */
