@import '../../assets/css/variable';

.data {
    font-size: 5rem;
    font-style: "Fredoka", sans-serif;
    font-weight: 900;
    padding: 0;
    margin: 0;

    h4 {
        margin: 0;
        padding: 0;
        color: $pangatlong-color;
    }
}
